<configuration>
   <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
         <outputPatternAsPresentationHeader>false</outputPatternAsPresentationHeader>
      </encoder>
   </appender>

   <logger name="org.scalaz" level="WARN" />
   <logger name="org.elasticsearch" level="WARN" />
   <logger name="com.traackr.scalastic" level="WARN" />
   
   <root level="ERROR">
      <appender-ref ref="stdout" />
   </root>
</configuration>